.display-single-donation-request-container {
  width: 50%; 
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  margin-left: 160px;
}

.display-single-donation-request-container h1 {
  color: #333; 
  font-size: 24px; 
}

.display-single-donation-request-container p {
  margin: 10px 0;
  color: #666; 
}

.display-single-donation-request-container .label {
  text-align: left;
  font-weight: bold;
}

